html, body{
    font-family: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell,
    Ubuntu, roboto, noto, arial, sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}
#titleBarWords{
    font-size: 3rem;
}
/*Full screen image background inspired by w3schools tutorial*/
#titleBar {
    background-image: url("../Assets/personas_storyboarding/storyboardingIntroPhoto-blurred.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #637D8B;
    padding: 2rem;
    text-align: center;
    color: white;
}
#actualData{
    max-width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #FFFFFF;
}
#syn-desc{
    font-size: 1.25rem;
}
/*Beginning of interface section*/
#interfaceIllustration {
    max-width: 65vw;
    border-radius: 10px;
    border: solid black 5px;
}
#interfaceDescriptionContainer{
    font-size: 1.25rem;
    /*background-color: #B1E5F2;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#interfaceIllustrationContainer{
    text-align: center;
}
/*Beginning of research observations section*/
#researchObservationsContainer{
    font-size: 1.25rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#individualObsContainer{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
.indObservation {
    background-color: #FFFFFF;
    border: solid black 4px;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
}
/*Beginning of empathy maps section.*/
#empathyMapSection{
    font-size: 1.25rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*background-color: #B1E5F2;*/
}
#mapContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
}
.mapImage, .individualEmpathyMap {
    max-width: 50rem;
}
.individualEmpathyMap {
    background-color: #FFFFFF;
    border: solid black 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1rem;
}
.mapCaption {
    padding: 10px;
}

hr.solidBlack{
    background-color: black;
    height: 5px;
    border: 0;
}
.tip{
    text-align: center;
}
/*Storyboard section*/
#storyboardSection{
    font-size: 1.25rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#storyboardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    font-size: 1rem;
}
.storyPanelImg, .individualStoryPanel{
    max-width: 30rem;
}